<h1>Welcome!</h1>
<p>Created by Jacob Hollis, Claire Hough, Chris Rehagen, and Davin Heilich as our final project for CS 4320 at the
    University of Missouri, Columbia.</p>
<br>
<h2><b>Please Read</b></h2>
<p>Please be patient when viewing each page, as it takes some time to load the data from each API call. You can get more
    visual feedback on what is happening by viewing the outputs in the developer console.</p>
<br>
<h3>List Issues</h3>
<p>This page allows you to view the top issues for the Repo Group you selected. This data is derived from a custom API
    endpoint.</p>
<p>Repo Group 20 is a good example for viewing data.</p>
<br>
<h3>Compare Commits</h3>
<p>This page compares the two Repos you chose by displaying their total number of commits in a bar graph.</p>
<p>"accumulo-examples" and "actionmailbox" are good examples for viewing data.</p>
<br>
<h3>Compare Issues</h3>
<p>This page compares the two Repos you chose by displaying their total number of reported issues in a bar graph.</p>
<p>"accumulo-examples" and "actionmailbox" are good examples for viewing data.</p>